* {
  box-sizing: border-box;
}

body {
  background-color: #123;
}
.board {
  width: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
  display: grid;
  grid-gap: 10px;
  margin: 20px auto;
  grid-template-columns: repeat(5, 1fr);
}
.card {
  background-color: #357;
  border-radius: 5px;
  height: calc((100vh - 70px) / 4);
  max-height: calc((100vh - 70px) / 4);
  overflow: hidden;
}
.card .front img {
  display: block;
  max-width: 100%;
}
